<% if @book.image.attached? %>
<!-- @post.image.present? will always return true, use attached? to check presence -->
  <div style="align:center">
    <strong>Image:</strong>
    <br>
    <%= image_tag @book.image %>
  </div>
<% end %>
