/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     background: rgb(173, 155, 119);
     opacity:50%;
 }

 #row-img{
    margin-top : 15px;
    background : white;
    margin-left: 15px;
    margin-bottom: 30px;

 }

 
 #img-btns{

 }

 #add-reveiw-btn{
    margin-left:50px;

 }

 #display-book-main{
     width:250px;
 }

 #mh{
     background: navy;
 }

 .modal-footer{
     background:navy;
 }

 
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }

  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }

  .container-fluid{
    background:navy;
    color: white;
    font-size: 20px;
  }

  a:hover{
    background: #bbb;
  }

 img{
   height:200px;
   width:200px;
   background: white;
 }


 .star-color{
   color: yellow;
   height: 18px;
 }

 .review_image{
   margin:50%;
 }

#main_books_div{
  margin-bottom:30px;
}

 footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  background:navy;
  color:white;
}